/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Global. */
* {
    outline: 1px dotted black;
}

/* Homepage */
.home{
  background: khaki
}

/* Portfolio*/

.portfolio{
  background: red
}

figure{
  background: #c0ffee;
  
}

/* Bio */
.bio{
  background: palevioletred
}

/* Contactsheet */
.contact{
  background: skyblue
}