/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Global. */
* {
    outline: 1px dotted black;
}

/* Homepage */
.home{
  background: khaki
}

/* Bio */
.bio{
  background: palevioletred
}

/* Contactsheet */
.contact{
  background: skyblue
}