/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Global. */

/* Homepage */
.home{
  background: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
   text-align: center;
}
.home nav{ 
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.home nav li a{
  background: mediumorchid;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 40px 40px 30px 5px; 
  
}
.home .decor{
  background: white;
  position: relative;
  top: 20px;
  height: 3px;
  width: 100%;
}
.home h1{
  font-size: 92px;
  font-family: 'Playfair Display', serif; 
  margin: 150px 0px -50px 0px;

}
.home footer {
  font-size: 12px;
  margin: 0 auto;
  padding: 50px 0px 5px 0px;
} 
.home main{
  margin: 30px 0px 10px 5px;
}
.home   #tag{ 
    font-size: 24px;
    margin: 35px 0px 250px 0px;
  }

@media only screen and (max-width: 600px) {
 .home {
   background: mediumorchid;
   color: black;
   text-align: center;
  }
  .home footer{
    color: white;
  }
  .home nav{
    justify-content: center;
  }
  .home nav li a{
    padding: 5px 10px;
    background: white;
  }
 
  .home p{ 

    width: 90%;
    margin: 0px auto;
  }
  .home .decor{
    height: 3;
  }
}

/* Portfolio*/

.portfolio{
  background: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
  width:98%;
  margin: 0 auto;
}
.portfolio .img-thumbnail{
  height: 30vh;
  width: 50vh;
  object-fit: cover ;
  margin: 10px;
  align-self: center;
  
}
.portfolio nav{ 
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.portfolio nav li a{
  background: mediumorchid;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 40px 40px 30px 5px; 
  
}
.portfolio .decor{
  background: white;
  position: relative;
  top: 20px;
  height: 3px;
  width: 100%;
  margin-bottom: 30px;
}
.portfolio h1{
  font-size: 42px;
  font-family: 'Playfair Display', serif; 
  margin: 0px 0px -50px 5px

}
.portfolio footer{ 
  width: 160px;
  margin: 0 auto;
  padding: 50px 0px 5px 0px;
}
.portfolio main{
  margin: 30px 0px 10px 5px;
}
.portfolio main {
	padding-top: 60px;
  width: 98%;
  margin: 0 auto;
}

.portfolio #pics {
  padding: 15px;
}


@media only screen and (max-width: 600px) {
 .portfolio {
   background: mediumorchid;
   color: black;
   text-align: center;
  }
  .portfolio footer{
    color: white;
  }
  .portfolio nav{
    justify-content: center;
  }
  .portfolio nav li a{
    padding: 5px 10px;
    background: white;
  }
 
  .portfolio p{ 
    text-align: justify;
    width: 90%;
    margin: 10px auto;
  }
  .portfolio .decor{
    height: 3px;
  }
}

/* Bio */
.bio{
  background: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
}
.bio #social a img{
	outline: 1px solid white;
}
.bio nav{ 
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.bio nav li a{
  background: mediumorchid;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 40px 40px 30px 5px; 
  
}
.bio .decor{
  background: white;
  position: relative;
  top: 20px;
  height: 3px;
  width: 100%;
}
.bio h1{
  font-size: 50px;
  font-family: 'Playfair Display', serif; 
  grid-area: 1 / 3  / 2 / 4; 
  margin: -10px 0px;
}
.bio footer{ 
  text-align: center;
  margin: 0 auto;
  padding: 50px 0px 5px 0px;
  justify-self: center;
  grid-area: 7 / 3 / 8 / 8;

}
.bio main{
  display: grid;
  grid-template-rows: 30px 15px 1fr 100px  60px 100px 1fr;
  grid-template-columns: 35% 10px 5%  1fr 5% 1fr 5% 10px 35%;
  margin: 30px 0px 10px 5px;
  height: 40vh;
}
.bio #desc{ 
  grid-area: 3 / 3 / 4 / 10;
  margin: 10px 20px 0px 0px;
  font-size: 2.5vw;
  align-self: end;  
}
.bio #contact{
  grid-area: 6 / 1 / 7 / 10;   
  justify-self: center;
  font-size: 2vw;
  
}
.bio main img{
  grid-area: 1 / 1 / 4 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.bio a img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.bio #fb{
  grid-area: 5 / 3 / 6 / 4;
  justify-self: center;
}
.bio #insta{
  grid-area: 5 / 5 / 6 / 6;
  justify-self: center;
}
.bio #twitter{
  grid-area: 5 / 7 / 6 / 8;
  justify-self: center;
}
@media only screen and (max-width: 600px) {
 .bio {
   background: mediumorchid;
   color: black;
   text-align: center;
  
  }
  .bio footer{
    color: white;
  }
  .bio nav{
    justify-content: center;
  }
  .bio nav li a{
    background: white;
    padding: 5px 10px;
  }
  .bio main{
    display: initial;
  }
 .bio main img{ 
    height: 60vh;
    width: 90%;
    margin: 20px 0px 0px 0px;
    border: 3px solid white;
  }
  .bio #desc{ 
    text-align: justify;
    width: 90%;
    margin: 10px auto;
    font-size: 18px;

  }
  .bio h1{ 
    margin: 5px;
  }
  .bio .decor{
    height: 0;
  }
  .bio #contact{
    font-size: 12px;
  }
  .bio a img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-top: 75px
}
}

/* Contactsheet */
/* Contact Sheet */
.contact{
  background: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
}
.contact #social a img{
	outline: 1px solid white;
}
.contact footer{ 
  width: 160px;
  margin: 0 auto;
  padding: 50px 0px 5px 0px;
}
.contact nav{ 
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.contact nav li a{
  background: mediumorchid;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 40px 40px 30px 5px; 
  
}
.contact .decor{
  background: white;
  position: relative;
  top: 20px;
  height: 3px;
  width: 100%;
}
.contact h1{
  font-size: 42px;
  font-family: 'Playfair Display', serif; 

}
 
.contact main{
  margin: 30px 0px 10px 5px;
}
.contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;  
}
.contact p{
  margin: 0px 0px 30px 0px;
}
.contact input[value*="Send"]{
  font-family: 'Work Sans', sans-serif;
  background: mediumorchid;
  border: none;
  padding: 5px;
  margin-top: -2px
}
.contact form * {
  margin: 2px;
}
.contact textarea{
  height: 100px
}

@media only screen and (max-width: 600px) {
 .contact {
   background: mediumorchid;
   color: black;
   text-align: center;
  }
 
  .contact footer, label{
    color: white;
  }
  
  .contact nav{
    justify-content: center;
  }
  .contact nav li a{
    padding: 5px 10px;
  }
 
  .contact p{ 
    text-align: justify;
    width: 90%;
    margin: 10px auto;
  }

  .contact input[value*="Send"] {
    background: black;
    color: white
  }
  
 .contact nav li a{
    background: white;
  }
}
.contact #contact{
  margin: 0 auto;  
  text-align: center;
  font-size: 2vw;
  align-self: flex-end;
}

.contact a img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 50px 10px 20px 10px;
  
}
.contact #social{
  display: flex;
  justify-content: center;
}
}
